.main-bg {
  height: 700px;
  background-image: url('./img/bg1.png');
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}